BEGIN;
--
-- Create model Category
--
CREATE TABLE "expenses_category" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(100) NOT NULL, "created_at" datetime NOT NULL, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
--
-- Create model Budget
--
CREATE TABLE "expenses_budget" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "month" date NOT NULL, "limit" decimal NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "category_id" bigint NOT NULL REFERENCES "expenses_category" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
--
-- Create model Income
--
CREATE TABLE "expenses_income" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "title" varchar(200) NOT NULL, "amount" decimal NOT NULL, "income_type" varchar(20) NOT NULL, "date" date NOT NULL, "description" text NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
--
-- Create model Expense
--
CREATE TABLE "expenses_expense" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "title" varchar(200) NOT NULL, "amount" decimal NOT NULL, "date" date NOT NULL, "description" text NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "category_id" bigint NULL REFERENCES "expenses_category" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
--
-- Create index expenses_ca_user_id_bdb38b_idx on field(s) user, -created_at of model category
--
CREATE INDEX "expenses_ca_user_id_bdb38b_idx" ON "expenses_category" ("user_id", "created_at" DESC);
--
-- Create index expenses_bu_user_id_95a1b4_idx on field(s) user, -month of model budget
--
CREATE INDEX "expenses_bu_user_id_95a1b4_idx" ON "expenses_budget" ("user_id", "month" DESC);
--
-- Create index expenses_bu_user_id_0269e9_idx on field(s) user, category, -month of model budget
--
CREATE INDEX "expenses_bu_user_id_0269e9_idx" ON "expenses_budget" ("user_id", "category_id", "month" DESC);
--
-- Alter unique_together for budget (1 constraint(s))
--
CREATE UNIQUE INDEX "expenses_budget_user_id_category_id_month_858e10fe_uniq" ON "expenses_budget" ("user_id", "category_id", "month");
CREATE INDEX "expenses_category_user_id_9d8b51ca" ON "expenses_category" ("user_id");
CREATE INDEX "expenses_budget_category_id_b3393af2" ON "expenses_budget" ("category_id");
CREATE INDEX "expenses_budget_user_id_3e911567" ON "expenses_budget" ("user_id");
CREATE INDEX "expenses_income_user_id_e84d5646" ON "expenses_income" ("user_id");
CREATE INDEX "expenses_in_user_id_978d86_idx" ON "expenses_income" ("user_id", "date" DESC);
CREATE INDEX "expenses_in_user_id_9a1a84_idx" ON "expenses_income" ("user_id", "income_type", "date" DESC);
CREATE INDEX "expenses_expense_category_id_aa33bbdd" ON "expenses_expense" ("category_id");
CREATE INDEX "expenses_expense_user_id_ab1aae2b" ON "expenses_expense" ("user_id");
CREATE INDEX "expenses_ex_user_id_4af51e_idx" ON "expenses_expense" ("user_id", "date" DESC);
CREATE INDEX "expenses_ex_user_id_3ba7da_idx" ON "expenses_expense" ("user_id", "category_id", "date" DESC);
COMMIT;
